@import 'https://fonts.googleapis.com/css?family=Cutive';

* {
	margin: 0;
	padding: 0;
}

html,body {
	width: 100%;
	height: 100%;
	font: 62.5% "Cutive",Verdana,"仿宋",sans-serif;
	color: #fff;
	background-color: #000;
	overflow: hidden;
	display:block;
}


.corner{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+63,000000+100&0+0,0.38+100,0.39+100 */
background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.25) 63%, rgba(0,0,0,0.39) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.25) 63%,rgba(0,0,0,0.39) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.25) 63%,rgba(0,0,0,0.39) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#63000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

a{
text-decoration:none;
color:#fff;
}

/******************************   			i-am-frank					******************************/
#who-am-i {
	background: #fff;
	transition: background-color 1000ms ease-out,color 150ms ease-out;
	color: #000;
	font-size: 3rem;
	/*display:block !important;*/
	/*这里加这句，就会和$.show()冲突，文字会强制显示。*/
}


#i-am-frank {
	width:560px;
	height: 3rem;
	line-height:3rem;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	/*绝对居中布局，放在别处不管用？？？？*/
}

#arrow	{
	display:none;
}




/******************************   			project					******************************/


#my-project {
	background: #dc6c5f;
}



.wrap{
display:flex;
align-items: center;
justify-content:center;
height:100%;
}

.container{
display:flex;
}

.container .flex-row{
display:flex;
}


.project-item .item{
position:relative;
margin:30px;
}


.item .mask,.item-img {
width:300px;
height:200px;
}


.mask,.item-headline,.item-line,.item-details{
position:absolute;
opacity:0;
transition:all 500ms;
transform: translate3d(-50%, -50%, 0);
}

.mask{
top:0;
left:0;
transition:all 500ms;
transform: translate3d(0, 0, 0);
}

.item-headline{
top:0;
left:50%;
font-size:3rem;
width:100%;
}

.item-details{
bottom:0;
left:50%;
font-size:2rem;
width:90%;
height:20px;
}

.item-line{
left:50%;
top:50%;
width:60%;
height:1px;
background:#fff;
}




.item:hover{
cursor: zoom-in;
}

.item:hover .item-img{
box-shadow: 1px 10px 15px #000;
}


.item:hover .mask{
background:#000;
opacity:.8;
}

.item:hover .item-headline{
top:50px;
opacity:1;
}

.item:hover .item-line{
top:100px;
opacity:1;
}


.item:hover .item-details{
bottom:50px;
opacity:1;
}


.column{
flex-direction: column;
}

.project-item{
width:100%;
text-align:center;
}


.item-img{
box-shadow: 1px 2px 10px #000;
transition:all 300ms;
}



/******************************   			experience					******************************/

#my-experience {
	background: green;
}

.page4 {
	background: #89b32f;
}

.page4 {
	background: #64b9d2;
}

.tiffnyblue {
	background: #81ced0;
}





@media screen and (max-width: 700px) and (min-width: 500px){
	body,html {
		font-size:31.25%;
	}

	.subtitle{
	width:300px;}
	
	.line {
   height:2px;
   }
	
#who-am-i{
		font-size: 2rem;
	}
	
	#i-am-frank {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	width: 80%;
}
}

@media screen and (max-width: 500px) and (min-width: 380px){
	body,html {
	font-size:25%;
	}
	
	
	.subtitle{
	width:300px;}
	
	.line {
   width:100px;
   height:1px;
   }
   
   	.bullets li {
		margin: 0 6px;
	}
   
   
   }
   
   @media screen and (max-width: 379px){
	body,html {
		font-size:12.25%;
	}
		.line {
   width:50px;
   height:1px;
   }
   
   .subtitle{
	width:200px;}
	
	.pace .pace-progress {
  box-shadow: 0 0 5px #e51115;
  height: 5px;

}

  #i-am-frank {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	width: 150px;
}
   }
