@font-face {
    font-family: "SerifGothicExtraBold";
    src: url("../css/SerifGothicExtraBold_gdi.woff") format('woff');
}

#loader{
background: #000 url(http://miukimiu.github.io/star-wars-random-quotes/images/bg.jpg);
height:100%;
width:100%;
animation: animatedBackground 170s linear infinite; 
transform: all 3s;
}

@keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: 0 3000px; }
}

.title-box{
position: absolute;
top: 50%; left: 50%; 
transform: translate3d(-50%, -50%, 0);
width:100%;
font-family: 'SerifGothicExtraBold', serif;
display:flex;
flex-direction: column;
align-items: center;
transform: all 3s;
}

.subtitle{
width:600px;
display:flex;
align-items: center;
justify-content:space-between;
font-size:3rem;
letter-spacing:.6rem;
text-indent: .6rem;
}

.title{
font-size:12rem;
letter-spacing:1rem;
text-indent: 1rem;
}


.line {
   width:200px;
   height:3px;
   }
.left {
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(19%, #fff), color-stop(100%, #fff));
}

.right {
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #fff), color-stop(81%, #fff), color-stop(100%, rgba(255,255,255,0)))
}
